@charset "utf-8";

body {
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size:110px 150px;
    background-repeat:repeat-x;

}
body {
    margin-top: 12.8%;
    padding: 0;
}
a{
    color: black;
}

.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin-right:15%;
    margin-left: 10%;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;
}

.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    .headerpos{
        margin-left: 10%;
    }
    .infolist{
        list-style-type: disc;
        list-style-position: outside;
        position: absolute;
        left: 29%;
        width: 100%;
        height: calc(100% - 100px);
        padding-bottom: 2em;
        max-width: 75%;
    }
    .infolist li{
        padding-right: .6em;
        padding-bottom: 1em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1em;
        word-spacing: normal;
        letter-spacing: normal;
        text-align: justify;
        text-indent: 0;
        margin-right:30%;
        max-width: 73%;
    }
    .infolist > p{
        margin-left:20%;
    }
    .infolistclear{
        list-style-type: disc;
        list-style-position: outside;
        position: relative;
        left: 29%;
        padding-top:11em;
        width: 100%;
        padding-bottom: 2em;
    }
    .infolistclear li{
        padding-right: .6em;
        padding-bottom: 1em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1em;
        word-spacing: normal;
        letter-spacing: normal;
        text-align: justify;
        text-indent: 0ex;
        margin-right:50%;
    }
    .infolistclear > p{
        margin-left:20%;
    }
    #infolist2{
        list-style-type: disc;
        list-style-position: outside;
        position: relative;
        left: 2%;
        margin-left: 22%;
        padding-bottom: 2em;
        margin-right: -45%;
    }
    #infolist2 li{
        padding-right: .6em;
        padding-bottom: 1em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1em;
        word-spacing: normal;
        letter-spacing: normal;
        text-align: justify;
        text-indent: 0ex;
        margin-right:50%;
    }
    #infolist2 > p{
        margin-left:20%;
    }
    .main{
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        bottom:0;
        overflow-y: scroll;
        overflow-x: hidden;
        bottom: 100px;

    }

    .main > p{
        margin-left: 25%;
        margin-right: 15%;
    }
    .main > h1{
        margin-top: 0;
        margin-left: 23%;
        padding: 1em;
        font-weight: bolder; 
    }
}
.dropbtn {
    background-color: #444;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:100px;
    border-radius: 10px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    top:1%;
    z-index: 1;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #1976D2}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1976D2;
}
td{
    text-align: center;
}
.EventForm> input[type=text] {
    width: 225px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.EventForm>input[type=text]:focus {
    width: 400px;
    height: 200px;
}

#tfheader{      /*make the edges rounded */
    position:absolute;
    background-color:#c3dfef;
    right:1%;
    top:1%;
    border-radius: 10px;
}
#tfnewsearch{
    float:right;
    padding:20px;

}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14 px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}
.FloatImg{
    float: left;
    margin: 0 0 0 0px;
    padding-right: 1em;
}
#ImgFloat{
    float: left;
   margin-left: 25%;
    padding-right: 1em;
    padding-bottom: 0.3em;
}
.FooterFloat {
    margin: 0 0 0 0px;
    padding-left: 1em;
}

.clearlist{
    position:relative;
    top: 11em;
    padding-bottom: 2em;
}
.footer {
    background: rgba(0, 0, 0, 0.26);
    width:100%;
    height: 50px;
    position:fixed;
    left:0;
    bottom:0;
    padding:0;

}
.footer> p{
    padding-right: 15em;
    float:right;
    position:relative;
}
.footer> p>a {
    padding-right: 0.5em;
    position: relative;
}
.EventForm>p {
    position: relative;
    top: 0;
}
.EventForm>input[type=text] {
    position: relative;
    top: 2em;
}
.EventForm>input[type=submit] {
    position: relative;
    top: 2em;
}
.EventForm>input[type=reset] {
    position: relative;
    top: 2em;
}
#ContactHead{
    top:0;
    margin-left: 23%;
    padding: 1em;
}
.main > h2{
    margin-top: 0;
    margin-left: 25%;
    padding: 1em;
}
.SecondAction {
    background: #060a94;
    display: inline-block;
    height: 55px;
    position: fixed;
    width: 100px;
    bottom: 50px;
    right: 4%;
}
.SecondAction:before {
    border-bottom: 35px solid #060a94;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
}

.footerform{
    color: white;
    margin-left: 33%;
}
.footerform>p {
    position: absolute;
    right: 4.3%;
    top: -120%;
    font-size: 0.8em;
}

#banner{
    position:absolute;
    font-size: 1.2em;
    top: -100%;
    right: 5%;
}
.FormDiv{
    position:relative;
}

/* add max and min widths to objects for resizable friendly*/